$background-color: rgb(250, 247, 245);
$dropdown-color: rgb(250, 247, 245, 0.75);
$shadow-color: rgb(46, 46, 46, 0.2);
$text-color: rgb(46, 46, 46);


html, body {
    background-color: $background-color;
    color: $text-color;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.fixed-header {
    background-color: $background-color;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 10px $shadow-color;
}

.header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    justify-content: space-between;
    margin: 0 1em;
    padding: 0 1em;
}

h1 {
    display: flex;
    flex: 0;
    font-size: 18px;
    min-width: max-content;
}

.work-container a,
.header a, 
.header li,
.header select,
li button {
    color: $text-color;
    display: flex;
    font-size: 15px;
    text-decoration: none;
}
.work:hover,
a:hover {
    text-decoration: underline;
}

.header .links {
    display: flex;
    flex: 0 1;
    justify-content: flex-end;
}

.header ul {
    align-items: center;
    display: flex;
    flex: auto;
    gap: 3em;
    justify-content: flex-end;
    list-style: none;
}

#contact {
    margin: 0 0 0 -12px;
}

#triangle {
    height: 10px;
    width: 10px;
    padding-left: 2px;
    transform: rotate(90deg);
    margin: 0 0 1px 0;
}

.drop-btn {
    align-items: center;
    display: flex;
    background-color: $background-color;
    border: none;
    cursor: pointer;
}

#dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    background-color: $dropdown-color;
    border-radius: 4px;
    display: none;
    position: absolute;
    transform: translateX(-2.1em);
    z-index: 1;
}

.dropdown-content a {
    color: $text-color;
    text-decoration: none;
    display: flex;
    padding: .8em .5em;
}

.dropdown-content a:hover {
    transform: translateX(-1em);
}

#dropdown:hover .dropdown-content {
    display: flex;
    flex-flow: column wrap;
    padding: .8em 2em;
    width: 13em;
}

#dropdown:hover #triangle {
    transform: rotate(180deg);
    margin: 2px 0 0 0;
}

#home {
    display: flex;
    background-image: url("../images/background.jpg");
    background-color: $background-color;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85%;
    margin: 51px 0 0 0;
    width: auto;
}

#home div {
    align-items: center;
    color:$background-color;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 100;
    gap: 1em;
    justify-content: center;
    margin: 51px 0 0 0;
    width: 100%;
}

#home strong {
    font-size: 82px;
    font-weight: 700;
    margin-top: -2em;
}

#portfolio {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.work-container {
    display: flex;
    flex-flow: row wrap;
    gap: 2em 0 4em 0;
    justify-content: space-evenly;
    width: 100%;
}

.work {
    align-items: center;
    display: flex;
    flex: 0;
    flex-flow: column nowrap;
    margin: 2em 0;
}

.work img {
    border-radius: 4px;
    display: flex;
    flex: 1;
    height: 14em;
    width: 14em;
    margin: 0 0 1em 0;
}