html, body {
  color: #222525;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-header {
  display: flex;
  align-items: center;
  background-color: rgb(248, 245, 242);
  position: fixed;
  top: 0;
  height: 2.8em;
  width: 100%;
  box-shadow: 0 4px 10px rgba(35, 35, 35, 0.2);
  z-index: 2;
}
.fixed-header .header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: space-between;
  margin: 0 1em;
  padding: 0 1em;
}
.fixed-header .header #head-name {
  font-size: 18px;
}
.fixed-header .header a {
  color: #232323;
  display: flex;
  font-size: 15px;
  text-decoration: none;
}
.fixed-header .header a:hover {
  text-decoration: underline;
}
.fixed-header .header .links {
  display: flex;
  flex: 0 1;
  justify-content: flex-end;
}
.fixed-header .header ul {
  align-items: center;
  display: flex;
  flex: auto;
  gap: 3em;
  justify-content: flex-end;
  list-style: none;
}

#home {
  display: flex;
  margin: 2.8em 0 0 0;
  height: 100%;
  width: 100%;
}
#home div {
  align-items: center;
  color: #fffffe;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 100;
  gap: 1em;
  justify-content: center;
  margin: 2.8em 0 0 0;
  width: 100%;
}
#home strong {
  font-size: 82px;
  font-weight: 700;
  margin-top: -2.8em;
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
}
#home em {
  font-size: 20px;
  font-weight: 200;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

#about,
#contact,
#portfolio {
  align-items: center;
  background-color: rgba(248, 245, 242, 0.87);
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  margin: 6em auto;
  width: 80%;
}
#about h2,
#contact h2,
#portfolio h2 {
  align-self: center;
  color: #232323;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

#portfolio {
  height: 62em;
  width: 95%;
}

.tab-container {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  height: 50em;
  width: 90%;
  margin: 2em 1em 2em 0;
}
.tab-container .tabs {
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  height: 50em;
  position: relative;
  width: 100%;
}
.tab-container .tabs .tab {
  display: flex;
  flex: 0;
  justify-content: flex-start;
  float: left;
  height: auto;
  width: 12em;
}
.tab-container .tabs .tab .tab-switch {
  display: none;
}
.tab-container .tabs .tab .tab-label {
  align-items: center;
  background: #078080;
  color: #fffffe;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  height: 3em;
  margin: 0 -10px 0 0;
  padding: 0.8em;
  top: 0;
  transition: all 0.07s;
  width: 100%;
}
.tab-container .tabs .tab .tab-label:hover {
  background-color: #077777;
}
.tab-container .tabs .tab .tab-content {
  display: block;
  position: absolute;
  transform: translateX(12em);
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all 0.07s;
  width: 82.5%;
}
.tab-container .tabs .tab .tab-content .pdf {
  background-color: rgb(248, 245, 242);
  border-radius: 4px;
  height: 50em;
  margin: -2em 0 0 0;
  width: 100%;
  border: none;
}
.tab-container .tabs .tab .tab-switch:checked + .tab-label {
  background: #0ba3a3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2078431373);
  color: #fffffe;
  transform: scale(1.1);
  transition: all 0.05s;
  z-index: 0;
}
.tab-container .tabs .tab .tab-switch:checked + label + .tab-content {
  z-index: 1;
  opacity: 1;
  transition: all 0.05s;
}
.tab-container .tabs::after {
  clear: both;
}

/*# sourceMappingURL=style.css.map */
